/* height: 80px;
background-color: #232330;
color: #ff961f; */

*{
    padding: 0px;
    margin: 0px;
}   

.bg{
    background-color: #232330;
}

a:hover{
    text-decoration: none;
    color: white;
}

.navbar{
    display: inline-block;
}

.navbar a{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ff961f;
    font-family: "Open Sans";
    font-weight: bold;
}

.hero-title{
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 800;
    text-align: center
}

.hero-desc{
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Open Sans";
    text-align: center;
}

.hero-explore-btn{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
    margin: 15px;
    /* border-radius: 100px; */
    /* background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%); */
}

.hero-buy-btn{
    margin: 15px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 100px;
    width: 191px;
    /* height: 52px; */
    box-shadow: 0 0 20px rgba(35,35,48,0.1);
    background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
}

.section-title{
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #232330;
    font-family: "Montserrat";
    font-weight: 800;
}

.section-desc{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #7b7b83;
    font-family: "Open Sans";
}

.card{
    height: 238px;
    background-color: #232330;
    border: 1px solid white;    
}

.card:hover .overlay-effect{
    /* z-index: 999;
    background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%); */
    opacity: 0.85;
    cursor: pointer;
}

.overlay-effect {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    /* background-color: rgba(259, 67, 95, 0.7); */
    background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
    overflow:hidden;
  }

  .card:hover .text{
      visibility: visible;
  }

  .text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    font-size: 24px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
  }

.card-body{
    margin-top: 60px;
}

.card-body img{
    width: 100px;
}

.card-title{
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
}

.card-text{
    margin-top: -10px;
    color: grey;
    margin-bottom: 5px;
}

.card-text-soon{
    margin-top: 25px;
    margin-bottom: 60px;
    font-size: 72px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #bdbdc0;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
}

.card-explore-btn{
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #232330;
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
    margin: 15px;
    border-radius: 100px;
    /* background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%); */
}

.card-buy-btn{
    margin: 15px;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 100px;
    width: 110px;
    height: 30px;
    box-shadow: 0 0 20px rgba(35,35,48,0.1);
    background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
}

.card-footer{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #232330;
    font-family: "Open Sans";
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
    margin-top: 20px;
}

.cta-container{
    height: 218px;
}

.cta-title{
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 800;
}

.cta-desc{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Open Sans";
}

.cta-btn{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 34px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: bold;

    width: 203px;
    height: 52px;
    box-shadow: 0 0 20px rgba(35,35,48,0.1);
    background-image: linear-gradient(-20deg, #ff5e49 0%, #ff961f 100%);
}

.cta-price{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-family: "Open Sans";
    display: inline-block;
    margin-left: 20px;
}

.footer-con{
    height: 50px;
    background-color: #ffffff;
}

.footer-con .row{
    margin-top: 25px;
}

.footer-menu{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #232330;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 17px;
}

.footer-menu:hover{
    color: #ff961f;
}

.footer-copyright{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #7b7b83;
    font-family: "Open Sans";
    text-align: right;
}
